*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: rgb(255, 248, 249);
}
header{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 50px auto;
}

span {

    color: var(--main-color);
}

.btn{
    background-color: rgb(10, 68, 177);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
}

.btn:hover{
    background-color: blue;
    cursor: pointer;
}

#highlights-section{
    width: 70%;
    margin: 0 auto;
}

#highlights-section > h2{
    font-size: 50px;
    font-weight: 800
    ;
    text-align: center;
    margin-bottom: 25px;
    text-shadow: 2px 2px 8px #af3d3d;
}

#highlights-section > p{
    width: 50%;
    margin: 0 auto;
    color: darkgray;
    text-align: center;
}

#buy_now_btn {
    display: flex;
    justify-content: center;
    margin: 15px 0;
}

#cover-image-section {
    width: 70%;
    margin: 0 auto;
}

#cover-image-section img {

    width: 100%;
}