*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #1D242D;
}
header{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 50px auto;
    color: white
}

span {

    color: var(--main-color);
}

.btn{
    background-color: rgb(10, 68, 177);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
}

.btn:hover{
    background-color: blue;
    cursor: pointer;
}

#highlights-section{
    border: 2px solid blue;
    width: 70%;
    margin: 0 auto;
    color: white;

#highlights-section > h2{
    font-size: 50px;
    font-weight: 800
    ;
    text-align: center;
    margin-bottom: 25px;
    color: white;
}