*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: pink;
}
header{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 50px auto;
}

.btn{
    background-color: rgb(10, 68, 177);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
}

.btn:hover{
    background-color: blue;
    cursor: pointer;
}